/* Header Content */


.header {
    display: flex;
    background-color: #1f2937;
    top: 0;
    right: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
    gap: 400px;
}


body {
    margin:0px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

.head1 {
    display:flex;
    font-size: 24px;
    color: #F9FAF8;   
    font-weight: 900;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

/* Header Content */

/* Container Content */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 488px;
    background-color: #1f2937;
    column-gap: 40px;
}

.leftt {
    width: 480px;
}

.rightt {
    width: 480px;
}

.signup {
    background-color:#3882F6;
    color:white;
    padding: 8px 32px;
    border: 1px solid #3882F6;
    border-radius: 10px;
}

.image {
    background-color: grey;
    padding: 100px 100px;
}

h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900px;
}

p {
    display: flex;

}

.body {
    display: flex;
    font-size: 18px;
    color:#E5E7EB;
}

/* Container Content */
/* Information Content */

.head3 {

    font-size:50px ;
    font-weight: 1000;
    height: 58px;
    width: 1013px;
}

.information {
    display:flex;
    min-height: 488px;
    gap:60px;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
}

.containuhh {
    width: 1013px;
    height: 72px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;  
}



.square {
    width: 200px;
    height: 100px;
    border: 1px solid #3882F6;
}

.info {
    max-width: 120px;
    display: flex;
    flex-wrap: wrap;
    
}
/* Information Content */
/* Quote Content */
.cont {
    display: flex;
    min-height: 488px;
    background-color: #E5E7EB;
    align-items: center;
    justify-content:space-around;
}

.body2 {
    display:flex;
    flex-wrap: wrap;
    width:800px;
}

.quote {
    font-size:36px;
    color: #1f2937;
    font-style: italic;
}

.cont2 {
  

}

.bywho {
   
}
/* Quote Content */

.prac {
    min-height: 488px;
    background-color: white;
}

.Popup {
    display: flex;
}

.head2 {
    display: flex;
}



.Signup2 {
    display:flex;
}

